*{
    margin: 0;
    padding: 0;
}

nav{
    position: fixed;
    background-color: skyblue;
    height: 70px;
    width: 100%;
    z-index: 1;
}

.logo{
    font-size: 25px;
    position: relative;
    left: 5%;
    color: white;
    font-weight: bold;
    line-height: 70px;
}

ul{
    position: relative;
    float: right;
    margin-right: 25px;
}

ul li{
    display: inline-block;
    line-height: 70px;
    margin: 0 5px;
}

ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.section1{
    padding-top: 70px;
}

.img-text{
    position: absolute;
    top: 20%;
    left: 30%;
    color: white;
    background-color: midnightblue;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 35px;
}

.main-img{
    width: 100%;
    height: 300px;
}

.welcome-img{
    width: 100%;
    height: 250px;
}

.container{
    padding-top: 70px;
}

.teacher{
    width: 90%;
    height: 200px;
}

.teacher-infos{
    width: 90%;
    text-align: justify;
}

.course-title{
    padding-top: 20px;
}

.label-text{
    display: inline-block;
    width: 100px;
    text-align: right;
    padding-right: 10px;
}

.input-text{
    width: 30%;
    height: 40px;
    border-radius: 10px;
    border: 1px solid black;
    padding: 0 20px;
}

.input-groupe{
    padding-top: 20px;
}

.input-message{
    width: 30%;
    height: 200px;
    border-radius: 10px;
    border: 1px solid black;
    padding: 20px;
}

.submit{
    position: relative;
    width: 30%;
    left: 5%;
    margin-right: 30px;
}

footer{
    background-color: skyblue;
    height: 100px;
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-title{
    position: absolute;
    top: 20%;
    left: 35.3%;
    border-radius: 10px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    color: rgb(0, 0, 0);
    background-color: skyblue;
    width: 400px;
}

.login-form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: skyblue;
    border-radius: 10px;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
    padding: 35px 0;
}



.label-form{
    display: inline-block;
    color: rgb(44, 70, 80);
    width: 100px;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
}

.input-form{
    width: 250px;
    height: 36px;
    border-radius: 10px;
    border: 1px solid rgb(64, 96, 109);
    padding: 0 20px;
}

.login-button{
    width: 355px;
    margin-top: 5px;
    border-radius: 10px;
}